body {
	background-image:url("https://wallpapercave.com/wp/0egAicj.jpg");


}
h1 {
	color:white;
	margin-left:380px;
}

.bttnn {
	padding:5px 30px 5px  30px;
	margin-top:20px;
	margin-left:400px;
	border:none;
	color;white;
	background-color:#4ef037;
}
